@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');:root {
  --dark-blue-background-color: #005DAA;
  --green-background: #02B0AF;
  --white-background: #ffffff;
  --black-background: #000;
  --grey-background: #D9D9D9;
  --purple-background: #6874F9;
  --red-background: #ED503E;
  --orange-background: #F7B746;
}

.boo {
  border: solid 3px black !important;
}

.bold{
  font-weight: 800;
}

html {
  font-family: "Roboto";
}
a.white-background-color:hover {
  background-color: white;
}
a.white-background-color {
  min-width: 70%;
}

.dark-blue-background-color {
  background-color: var(--dark-blue-background-color);
}

.white-background-color {
  background-color: var(--white-background);
}

.red-background {
  background-color: var(--red-background);
}

.orange-background {
  background-color: var(--orange-background);
}

.purple-background {
  background-color: var(--purple-background);
}

.green-background {
  background-color: var(--green-background);
}
.text-green {
  color: var(--green-background);
}

.grey-background {
  background-color: var(--grey-background);
}
.text-grey {
  color: var(--grey-background);
}
.black-background {
  background-color: var(--black-background);
}
.w-70 {
  min-width: 70% !important;
}
section {
  min-width: 100%;
}

.auto-height {
  height: 100%;
}

.footer-height {
  min-height: 350px;
}

.input-height {
  min-height: 33px;
}

.w-60 {
  max-width: 65%;
}

.form-overflow {
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 100vh;
  padding-bottom: 2rem;
}
.here::before {
  content: "";
  display: block;
  min-width: 2.5rem;
  min-height: 2.5rem;
  background-color: white;
  position: absolute;
  top: -0.05rem;
  left: -2.3rem;
  z-index: 999;
}
.sensors-container, .appointment-container {
  overflow-y: hidden;
  overflow-x: scroll;
  max-width: 60rem;
}
.sensors-container > div {
  min-width: auto;
}

.appointment-container > div {
  min-width: 14rem;
}
.z-1 {
  z-index: -1 !important;
}

span.grey-background:hover {
  background-color: var(--grey-background);
}

span.green-background:hover, button.green-background:hover {
  background-color: var(--green-background);
}
a.red-background:hover {
  background-color: var(--red-background);
}

.sensor-extra-details {
  max-height: 75px;
  overflow-y: scroll;
  overflow-x: hidden;

}