/* * {
   outline: 1px solid black;
} */
.fixed-height {
    max-height: 70vh;
    overflow: scroll;
    scrollbar-width: thin;
    scrollbar-color: #fff #ffffff;
 }
 
 div::-webkit-scrollbar {
    width: 8px;
 }
 
 div::-webkit-scrollbar-track {
    background-color: #ffffff;
 }
 
 div::-webkit-scrollbar-thumb {
    background-color: #fff;
 }

 .max-height {
   max-height: 40vh;
   overflow: scroll;
 }
 .active-tab {
   background-color: #007bff !important;
   color: #fff;
 }