<%- layout('layouts/patientBoilerplate') %>

    <div class="container">
        <h2 class="display-3 d-flex justify-content-center">Our Doctors</h2>
        <div class="row" id="ooo">
            <% for(const d of doctorsArray) {%>
                <div class="card col-4 bg-body-secondary">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            <% } %>
        </div>
    </div>