<% layout('layouts/boilerplate') %>
    <div class="row">
        <div class="col-md-6 offset-3">
            <form action="" method="post" id="registerForm">

                <fieldset class="tab">
                    <select class="form-select" id="role">
                        <option selected disabled>Pick your Role</option>
                        <option value="patient">Patient</option>
                        <option value="doctor">Doctor</option>
                    </select>
                </fieldset>

                <fieldset class="tab">
                    <h2>Personal Information</h2>
                    <div class="mb-3">
                        <label for="name" class="form-label">Full Name: </label>
                        <input type="text" class="form-control" name="fullName">
                    </div>
                    <div class="mb-3">
                        <label for="date" class="form-label">Birth Date: </label>
                        <input type="date" class="form-control" name="birthDate">
                    </div>
                    <div class="mb-3">
                        <label for="date" class="form-label">Gender: </label>
                        <select class="form-select" name="gender">
                            <option selected disabled>Pick your gender</option>
                            <option value="MALE">Patient</option>
                            <option value="FEMALE">Female</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="phone" class="form-label">Phone: </label>
                        <input type="text" class="form-control" name="phone">
                    </div>
                </fieldset>
                <fieldset class="tab">
                    <h2>Medical Information</h2>
                    <div class="mb-3">
                        <label for="smokestate" class="form-label">Height: </label>
                        <input type="text" class="form-control" name="height">
                    </div>
                    <div class="mb-3">
                        <label for="smokestate" class="form-label">Weight: </label>
                        <input type="text" class="form-control" name="weight">
                    </div>
                    <div class="mb-3">
                        <label for="smokestate" class="form-label">How many minutes you workout Per Day: </label>
                        <input type="text" class="form-control" name="sedentary">
                    </div>
                </fieldset>
                <fieldset class="tab">
                    <h2>Medical history</h2>
                    <div class="mb-3">
                        <label for="addBTN" class="form-label d-block">Add on going treatments: </label>
                        <button type="button" class="btn btn-success" id="addMedicalHistory">Add</button>
                        <select class="form-select d-none" id="medicalHistory">
                            <option selected disabled>Pick One</option>
                            <option value="prescription">Prescription</option>
                            <option value="scanner">Scanner</option>
                            <option value="radio">Radio</option>
                        </select>
                    </div>
                    <div class="mt-3">
                        <div id="carouselExample" class="carousel slide d-none">
                            <div class="carousel-inner p-5" id="carouselInner">
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                                data-bs-slide="prev">
                                <span class="carousel-control-prev-icon bg-black me-5" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                                data-bs-slide="next">
                                <span class="carousel-control-next-icon bg-black ms-5" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </fieldset>

                <div class="mb-3 d-flex">
                    <button type="button" class="btn btn-info d-none" id="previous">Previous</button>
                    <button type="button" class="btn btn-primary ms-auto" id="next">Next</button>
                </div>
            </form>
        </div>
    </div>

    <script>
        function hideAllTabsExceptCurrent(current) {
            for (let i = 0; i < tabs.length; i++) {
                if (i != current) {
                    tabs[i].classList.add('d-none');
                }
                if (current != 0) {
                    previous.classList.remove('d-none');
                }
            }
        }
        function displayAllTabs() {
            for (let i = 0; i < tabs.length; i++)
                tabs[i].classList.remove('d-none');
        }
        function nextBttn() {
            if (next.getAttribute('type') == 'button') {
                displayAllTabs();
                hideAllTabsExceptCurrent(++current);
            }
            if (current == (tabs.length - 1)) {
                next.innerHTML = 'Submit';
            }
        }
        function displayTreatments() {

        }
        function createPrescription(counter) {
            const div = document.createElement('div');
            if (counter == 0) {
                div.classList.add('active');
            }
            div.classList.add('carousel-item');
            const diagnosisInput = document.createElement('input');
            diagnosisInput.classList.add('form-control');
            diagnosisInput.setAttribute('type', 'text');
            diagnosisInput.setAttribute('name', `diagnosis${counter}`);
            diagnosisInput.setAttribute('placeholder', 'Diagnosis');
            const notesInput = document.createElement('input');
            notesInput.classList.add('form-control');
            notesInput.setAttribute('type', 'text');
            notesInput.setAttribute('name', `notes${counter}`);
            notesInput.setAttribute('placeholder', 'notes');
            const dateInput = document.createElement('input');
            dateInput.classList.add('form-control');
            dateInput.setAttribute('type', 'datetime-local');
            dateInput.setAttribute('name', `date${counter}`);
            const medicationInput = document.createElement('input');
            medicationInput.classList.add('form-control');
            medicationInput.setAttribute('type', 'text');
            medicationInput.setAttribute('name', `medication${counter}`);
            medicationInput.setAttribute('placeholder', 'Medication name');
            const dosageInput = document.createElement('input');
            dosageInput.classList.add('form-control');
            dosageInput.setAttribute('type', 'text');
            dosageInput.setAttribute('name', `dosage${counter}`);
            dosageInput.setAttribute('placeholder', 'Medication dosage');
            div.appendChild(diagnosisInput);
            div.appendChild(notesInput);
            div.appendChild(dateInput);
            div.appendChild(medicationInput);
            div.appendChild(dosageInput);
            return div;
        }
    </script>

    <script>
        const previous = document.querySelector('#previous');
        const next = document.querySelector('#next');
        const role = document.querySelector('#role');
        const tabs = document.querySelectorAll('.tab');
        const form = document.querySelector('#form');
        const medicalHistory = document.querySelector('#medicalHistory');
        const addMedicalHistoryButton = document.querySelector('#addMedicalHistory');
        const carouselInner = document.querySelector('#carouselInner');
        const carouselExample = document.querySelector('#carouselExample');

        let current = 0;
        let activeMedicalHistory = null;

        hideAllTabsExceptCurrent(current);
        next.addEventListener('click', nextBttn)

        addMedicalHistoryButton.addEventListener('click', () => {
            medicalHistory.classList.remove('d-none');
        })

        let counter = 0;
        medicalHistory.addEventListener('change', () => {

            if (medicalHistory.value == 'prescription') {
                if (counter > 0) {
                    activeMedicalHistory.classList.remove('active');
                }
                activeMedicalHistory = createPrescription(counter++);
                activeMedicalHistory.classList.add('active');
                carouselInner.appendChild(activeMedicalHistory);
                carouselExample.classList.remove('d-none');
                medicalHistory.classList.add('d-none');
                medicalHistory.value = 'Pick One';
            }
        })

    </script>