<% layout('layouts/boilerplate') %>
    <div class="row">
        <div class="col-md-6 offset-3">
            <form action="/" method="post" id="registerForm">

                <fieldset class="tab">
                    <select class="form-select" id="role">
                        <option selected disabled>Pick your Role</option>
                        <option value="patient">Patient</option>
                        <option value="doctor">Doctor</option>
                    </select>
                </fieldset>

                <fieldset class="tab">
                    <h2>Personal Information</h2>
                    <div class="mb-3">
                        <label for="name" class="form-label">Full Name: </label>
                        <input type="text" class="form-control" name="name">
                    </div>
                    <div class="mb-3">
                        <label for="date" class="form-label">Birth Date: </label>
                        <input type="date" class="form-control" name="date">
                    </div>
                    <div class="mb-3">
                        <label for="date" class="form-label">Gender: </label>
                        <select class="form-select" name="gender" id="gender">
                            <option selected disabled>Pick your gender</option>
                            <option value="MALE">Male</option>
                            <option value="FEMALE">Female</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="phone" class="form-label">Phone: </label>
                        <input type="text" class="form-control" name="phone">
                        <div class="mb-3" id="doctorInformation">
                            <label for="speciality" class="form-label">Speciality: </label>
                            <input type="text" class="form-control" name="speciality">
                        </div>
                    </div>
                </fieldset>
                <fieldset class="tab">
                    <h2>Account Information</h2>
                    <div class="mb-3">
                        <label for="username" class="form-label">Username: </label>
                        <input type="text" class="form-control" name="username">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">password: </label>
                        <input type="password" class="form-control" name="password">
                    </div>
                </fieldset>
                <fieldset class="patientInformation tab ">
                    <h2>Medical Information</h2>
                    <div class="mb-3">
                        <label for="height" class="form-label">Height: </label>
                        <input type="text" class="form-control" name="height">
                    </div>
                    <div class="mb-3">
                        <label for="weight" class="form-label">Weight: </label>
                        <input type="text" class="form-control" name="weight">
                    </div>
                    <div class="mb-3">
                        <label for="sedentary" class="form-label">How many minutes you workout Per Day: </label>
                        <input type="text" class="form-control" name="sedentary">
                    </div>
                </fieldset>
                <fieldset class="patientInformation tab ">
                    <h2>Medical Information</h2>
                    <div class="mb-3">
                        <label for="smokestate" class="form-label">How many Cigarettes you smoke per day: </label>
                        <input type="Number" class="form-control" name="smokestate">
                    </div>
                    <div class="mb-3">
                        <label for="alchoolstate" class="form-label">How many drinks per day: </label>
                        <input type="number" class="form-control" name="alchoolstate">
                    </div>
                    <div class="mb-3">
                        <label for="smokestate" class="form-label">Does you father/grandFather died before 55 or had an IDM: </label>
                        <input type="text" class="form-control" name="atcd">
                    </div>
                    <div class="mb-3">
                        <label for="smokestate" class="form-label">Does you mother/grandMother died before 65 or had an IDM: </label>
                        <input type="text" class="form-control" name="atcd">
                    </div>
                </fieldset>
                <div class="mb-3 d-flex">
                    <button type="button" class="btn btn-info d-none" id="previous">Previous</button>
                    <button type="button" class="btn btn-primary ms-auto" id="next">Next</button>
                </div>
            </form>
        </div>
    </div>

    <script>
        function hideAllTabsExceptCurrent(current) {
            for (let i = 0; i < tabs.length; i++) {
                if (i != current) {
                    tabs[i].classList.add('d-none');
                }
                if (current != 0) {
                    previous.classList.remove('d-none');
                }
            }
        }
        function displayAllTabs() {
            for (let i = 0; i < tabs.length; i++)
                tabs[i].classList.remove('d-none');
        }
        function nextBttn() {
            if (next.innerHTML == 'Next') {
                displayAllTabs();
                current++;
                hideAllTabsExceptCurrent(current);
            }
            if (next.innerHTML == 'Submit') {
                form.submit();
            }
            if (role.value == 'doctor' && current == 2) {
                next.innerHTML = 'Submit';
            }

            if (current == (tabs.length - 1)) {
                next.innerHTML = 'Submit';
            }
            
        }
         
        const patientInformation = document.querySelectorAll('.patientInformation');
        const doctorInformation = document.querySelector('#doctorInformation');
        function preparePatientInformation() {
            doctorInformation.remove();
        }
        function prepareDoctorInformation() {
            
        }
    </script>

    <script>
        const previous = document.querySelector('#previous');
        const next = document.querySelector('#next');
        const role = document.querySelector('#role');
        const tabs = document.querySelectorAll('.tab');
        const form = document.querySelector('#registerForm');

        role.addEventListener('change', () => {
            if (role.value == 'patient') {
                form.setAttribute('action', '/users/patient/register');
                preparePatientInformation();
            }else if (role.value == 'doctor') {
                form.setAttribute('action', '/users/doctor/register');
            }
        })

        let current = 0;

        hideAllTabsExceptCurrent(current);
        next.addEventListener('click', nextBttn)

        let counter = 0;
    </script>